.snowContainer {
    width: 100%; 
    height: 20%; 
    background-color:
     rgb(255, 255, 255); 
     overflow: hidden;
      position: relative;
    }
  
  
          .snowExample  {
            overflow: hidden;
          position: absolute; 
          top: -70%;
          opacity: 1; 
          text-align: center;
          animation: SnowExampleSlide ease-in infinite;
          -webkit-animation: SnowExampleSlide ease-in infinite;
          -moz-animation: SnowExampleSlide ease-in infinite;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;}
          @keyframes SnowExampleSlide {from {position: absolute; top: -60%;} to {position: absolute; top: 170%;}}
          @-webkit-keyframes SnowExampleSlide {from {position: absolute; top: -60%;} to {position: absolute; top: 170%;}}
          @-moz-keyframes SnowExampleSlide {from {position: absolute; top: -60%;} to {position: absolute; top: 170%;}}
